*
{
	font-family: 'Ubuntu', sans-serif;
	background-color: #000000;
}

.profile
{
	float: left;
}

.content
{
    margin-left: 20vw;
}

.paragraph
{
	color: white;
	margin-right: 8%;
	font-size: 16pt;
}

.video
{
	float: left;
    margin-top: 2vw;
    margin-left: 10vw;
}

img
{
	margin-left: 2%;
	margin-right: 2%;
}

a:link
{
	color: blue;
	text-decoration: none;
}
a:visited
{
	color: blue;
	text-decoration: none;
}
a:hover
{
	color: hotpink;
	background-color: black;
	text-decoration: none;
}
a:active
{
	color: blue;
	text-decoration: none;
}

main
{
	margin-left: 10%;
	margin-right: 10%;
	background-color: #000000;
}

header
{
	text-align: center;
	background-color: #49c5ff;
	margin-left: 10%;
	margin-right: 5%;
	font-size: 3vw;
	
	height: 60px;
	border-radius: 10px 10px 20px 20px;
}

.nav-sidebar
{
	background-color: #8ddaff;
	border: #8ddaff solid 3px;
	font-size: 16pt;
	padding: 5px;
	margin-top: 19px;
	margin-right: 0;
	margin-left: -5px;
	float: left;
	width: 140px;
	height: 40vw;
} 
#navlinks
{
	background-color: #8ddaff;
	margin-bottom: 10px;
}

.nav-bottom
{
	background-color: #000000;
	border: #000000 solid 3px;
	font-size: 16pt;
	margin-top: 100px;
	margin-right: auto;
	margin-left: auto;
	float: left;
	width: 100vw;
	align-content: center;
	position: fixed; bottom: 0; right: 0;
}
#links
{
	font-family: 'Ubuntu Mono', monospace;
	float: right;
	font-size: 16pt;
	margin-left: 5%;
	margin-right: 5%;
	background-color: #000000;
}

/* If screen width is less than 800px */
/* ------------------------------------------- */
@media screen and (max-width: 800px)
{
    /* -- Add responsive CSS here -- */
    .video
    {
        margin-left: 0;
    }
    
}

/*nav
{
	width: 70vw;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;

	border: black 1px solid;
	height: 50px;
}

.navbox
{
	margin-top: 5px;
	margin-bottom: 5px;
	height: 100%;
	
	width: 30%;
	margin-left: 9%;
	margin-right: 9%;
	
	text-align: center;
	float: right;
	font-size: 2vw;
	
	border: #000000 4px solid;
	border-radius: 5px;
	background-color: #000000;
}

.navbox:hover
{
	background-color: black;
	border: #000000 4px solid;
}*/
/**
*
{
    font-family: 'Ubuntu', sans-serif;
}

p, li, a
{
    font-family: 'Ubuntu Mono', monospace;
}

h1
{
    font-size: 6vw;
    text-align: center;
}

.title
{
    width: 95vw;
    background-color: #49c5ff;
    border: 6px solid grey;
    margin: 1vw;
    border-radius: 10px 30px;
}

.content
{
    background-color: #f3f3f3;
    border: 6px solid lightgrey;
    padding: 10px 10px 35px 20px;
    margin: 0px 10px;
    border-radius: 5px;
}
.link
{
    font-size: 2.5vw;
}
.menu
{
    float: left;
    width: 20%;
    height: 500px;
    background-color: #4e3fff;
    border: 2px solid #8e8e8e;
    padding: 5px;
    margin: 1vw 0vw 1vw 2.5vw;
    border-radius: 5px;
}
.main
{
    float: left;
    width: 75%;
}
.explore
{
    margin: 2vw 0;
    float: left;
}
.create
{
    margin: 2vw 0;
    float: left;
}

/* For responsive design */
/* ------------------------------------------- */
@media screen and (max-width: 800px){
    .menu, .main
    {
        width: 100%;
    }
    .menu 
    {
        width: 95%;
        margin: 0vw 2.5vw;
        height: 5vw;
    }
    .content
    {
        margin: 1.5vw;
    }
    .create
    {
        margin: 0.5vw 0;
        margin-left: 10vw;
        font-size: 3.5vw;
    }
    .explore
    {
        float: left;
        margin-left: 5vw;
        font-size: 3.5vw;
        
    }
    .home
    {
       float: right;
       margin: 0.5vw 0;
       margin-right: 10vw;
       font-size: 3.5vw; 
    }
    
}
/* ------------------------------------------- */