*
{
    font-family: 'Ubuntu', sans-serif;
}

p, li, a
{
    font-family: 'Ubuntu Mono', monospace;
}

main
{
    margin-left: 25%;
    margin-right: 25%;
}

header
{
    text-align: center;
    background-color: #49c5ff;
    margin-left: 20%;
    margin-right: 20%;
    
    height: 50px;
    border-radius: 10px 10px 20px 20px;
}




/* NAV */

nav
{
    width: 90vw;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;
    
    /*border: black 1px solid;*/
    height: 50px;
    background-color: #4e3fff;
}

.navbox
{
    margin-top: 5px;
    margin-bottom: 5px;;
    height: 60%;
    
    width: 30%;
    margin-left: calc(10% - 4px);
    margin-right: calc(10% - 4px);
    
    text-align: center;
    float: left;
    font-size: 20px;
    
    border: white 4px solid;
    border-radius: 5px;
    background-color: #8ddaff;
}

.navbox:hover
{
    background-color: white;
    border: #00aeff 4px solid;
}

/* IFRAME */
iframe
{
    margin-left: auto;
    margin-right: auto;
    
    width: 100%;
    height: 400px;
}

 /* PDF-CONTAINER */
.pdf-container
{
    height: 500px;
    background-color: beige;
    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    
    margin-top: 10px;
    margin-bottom: 10px;
}
